.login_button {
    display: flex;
    justify-content: flex-end;
    margin: 20px;
}

.nav_section {
    display: flex;
    justify-content: center;
}

.menu_section {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    position: sticky;
    top: 0;
}

.menu_area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    box-sizing: border-box;
    padding: 0;
    
}

.menu_list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    flex-grow: 1; 
    justify-content: center;

}

.menu_list li {
    padding: 10px 15px;
    cursor: pointer;
    transition: color 0.3s;
}

.menu_list li:hover {
    color: rgb(133, 0, 0);
}

.input_area {
    display: flex;
    align-items: center;
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 5px 10px;
    margin-left: auto;
}

.icon_search {  
    color: #555;
    margin-right: 10px;
    font-size: 16px;
}

.input_area input {
    border: none;
    outline: none;
    background: transparent;
    font-size: 16px;
    width: 150px;
}



@media (max-width: 768px) {
    .menu_area {
        flex-direction: column;
        align-items: flex-start;
    }

    .input_area {
        width: 100%;
        margin-top: 10px;
    }

    .input_area input {
        width: 100%;
    }
}
