.login_button {
    display: flex;
    justify-content: flex-end;
    margin: 20px;
    cursor: pointer;
}

.nav_section {
    display: flex;
    justify-content: center;
}

.nav_section img {
    cursor: pointer;
}

.menu_section {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
}

.menu_area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    box-sizing: border-box;
    padding: 0;

}

.menu_list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    flex-grow: 1;
    justify-content: center;

}

.menu_list li {
    padding: 10px 15px;
    cursor: pointer;
    transition: color 0.3s;
}

.menu_list li:hover {
    color: rgb(133, 0, 0);
}

.input_area {
    display: flex;
    align-items: center;
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 5px 10px;
    margin-left: auto;
}

.icon_search {
    color: #555;
    margin-right: 10px;
    font-size: 16px;
}

.input_area input {
    border: none;
    outline: none;
    background: transparent;
    font-size: 16px;
    width: 150px;
}



.product_card {
    margin: 20px;
}

.card_img {
    width: 100%;
    overflow: hidden;
}

.product_card img {
    width: 100%;
    object-fit: cover;
    transition: transform 0.3s;
}

.product_card img:hover {
    transform: scale(1.1);
}



.product_img {
    display: flex;
    justify-content: flex-end;
}

.product_img img {
    width: 100%;
    max-width: 400px;
    height: auto;
    object-fit: cover;
}

.full-width-dropdown .dropdown-toggle {
    background-color: white;
    border: 1px solid black;
    color: black;
}

.custom-dropdown-button .dropdown-toggle:hover {
    background-color: darkred !important;
    color: white !important;
    border-color: darkred !important;
  }

.full-width-dropdown .dropdown-toggle, .plus_btn {
    width: 100%;
    text-align: center;
    padding: 5px;
    box-sizing: border-box;
    border-radius: 0px;
}

.custom-dropdown-button .dropdown-toggle:hover,
.custom-dropdown-button .dropdown-toggle:focus {
    background-color: white;
    border: 1px solid black;
}

.full-width-dropdown .dropdown-menu {
    width: 100%;
    box-sizing: border-box;
    border-radius: 0px;
}

.plus_btn {
    background-color: darkgrey;
    margin-top: 20px;
    border: none;
    transition: background-color 0.3s ease, transform 0.1s ease;
}

.plus_btn:active {
    background-color: #707070; /* 클릭했을 때 색상을 더 진하게 변경 (예: #707070) */
    transform: scale(0.99);
}


@media (max-width: 768px) {
    .menu_area {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .input_area {
      width: 100%;
      margin-top: 10px;
    }
  
    .input_area input {
      width: 100%;
    }
    
    .login_button {
      width: 100%;
    }
  
    .navbar-collapse {
      width: 100%;
    }
    
    .navbar-nav {
      width: 100%;
    }
    
    .nav-link {
      width: 100%;
      text-align: left;
    }
  }